<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />




</head>

<body class="flex-column">
    <div class="navbar" id="navbar">
        <div class="brand"></div>
        <div class="nav-links">
            <a href="./">Home</a>
            <a href="./tool">Tool</a>
            <a href="./">Products</a>
            <a href="./">Contact us</a>
        </div>
    </div>
    <div class="wjhnii root">

            <div class="group">
                <h1 class="hero_title">WJHNI</h1>
                <h1 class="hero_title1">JOURNEY</h1>
                <img class="cover1" src="./static/images/aadc6fd4a7a409e67250359e62c9112b.png" alt="alt text" />
                <h3 class="subtitle">لمساعدتك خلال رحلة البكالوريا</h3>
                <h3 class="subtitle1">YOUR ALGERIAN BAC AND OUR</h3>
                <img class="image" src="./static/images/3f2bed0b763074c84b2cc838cb46fec9.png" alt="alt text" />
            </div>
            <div class="content_box">
                <div  class="group1"><a href="./tool">
                    <img class="cover2" src="./static/images/fc69bcc57386b8cbae0482eac36c8537.png" alt="alt text" />
                    <h3 class="subtitle2">جرب الآن!</h3></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>